[run]
omit =
    env/*
    project/bots_battle.py
    project/game/ai/configs/*
    project/game/bots_battle/*
    project/settings/*
    project/statistics/*
    */test_*.py
    */__init__.py
    project/reproducer.py
    project/main.py
    project/tenhou/*
    project/utils/statistics.py
    project/utils/logger.py
    project/conftest.py
    project/utils/settings_handler.py
    project/game/client.py
    project/system_testing/generate_tests.py
    project/system_testing/generate_documentation.py
    project/system_testing/cases.py
    project/system.py