.idea
env

*.py[cod]
__pycache__
.DS_Store
logs
project/settings_local.py
project/game/ai/common

tests_validate_hand.py
loader.py
socket_mock.py
*.db
temp
*.log

project/game/data/*
project/analytics/data/*

# temporary files
experiments