$size: 60px;
$sideColor1: rgba(67, 116, 60, .9);
//$sideColor1: rgba(#f5f5f5, .9);
$sideColor2: rgba(#333, .9);
$sideSize: $size/7;
$sizeScale1: 1.25;
$sizeScale2: 1.3;

.page {
    display: flex;
    padding-top: 20px;
    min-width: 1260px;
    background: url("__static__/general/bg.jpg") repeat;
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
}

.board {
    display: flex;
    margin: 0 auto;
    min-width: 1220px;
    min-height: 700px;
    width: 90vw;
    height: 85vh;
}

.game {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 2 auto;

    .game__modal {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 50;
        display: none;
        padding: 30px;
        width: 82%;
        height: 82%;
        background-color: rgba(#222, .9);
        color: #ece9d8;
        transform: translate(-50%, -50%);

        &.open {
            display: block;
        }
    }

    &__row {
        //box-shadow: 0 0 0 1px #000;

        &--stretch {
            display: flex;
            flex-direction: row !important;
            //box-shadow: 0 0 0 2px #fff;
            flex-wrap: nowrap;
            flex: 2 auto;
        }
    }

    .right {
        display: flex;
    }

    .break-line {
        clear: both;
        overflow: hidden;
        width: 100%;
        flex: 2 100%;
    }

    &__flex {
        //display: flex;
        //box-shadow: 0 0 0 5px blue;
        position: relative;
        flex-wrap: wrap;

        .game__left &, .game__right & {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
        }

        .game__center .game__center & {
            display: flex;
            justify-content: center;

            &__column {
                position: relative;
                padding-bottom: $sideSize*5;
            }
        }

        .box__icon {
            float: left;
            //flex: 1 auto;

            .game__left &, .game__right & {
                float: none;
            }
        }

        &__title {
            position: absolute;
            z-index: 20;
            height: $size/$sizeScale2;
            //width: $size/$sizeScale2;
            color: #ffffff;
            //background-color: blue;
            text-align: center;

            span {
                display: block;
                //box-shadow: 0 0 0 1px #000;
                font-size: 18px;
                line-height: $size/$sizeScale2;
            }

            .game__bottom & {
                top: 0;
                padding-right: $size*.15;
                transform: translate(-100%, 0);
            }

            .game__top & {
                right: 0;
                bottom: 0;
                padding-left: $size*.15;
                transform: translate(100%, 0);

                span {
                    transform: rotate(180deg);
                }
            }

            .game__left & {
                top: 0;
                right: 0;
                margin-top: #{-$size*.15};

                span {
                    transform: rotate(90deg);
                    transform-origin: 100% 0%;
                }
            }

            .game__right & {
                top: 100%;
                left: 0;
                padding-right: $size*.15 + $sideSize;
                text-align: left;
                transform: rotate(-90deg) translate(-100%, 0);
                transform-origin: left top;
            }
        }

        &__popup {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 30;
            display: none;
            transform: translate(-50%, -50%);

            span {
                display: block;
                padding: 12px;
                border: 1px solid #333;
                background-color: #fff;
                box-shadow: 0 0 5px #000;
                white-space: nowrap;
                font-weight: 700;
                font-size: 24px;
            }

            &.open {
                display: block;
            }

            .game__top & {
                transform: rotate(180deg) translate(50%, 50%);
            }

            .game__left & {
                span {
                    transform: rotate(90deg);
                }
            }

            .game__right & {
                span {
                    transform: rotate(-90deg);
                }
            }
        }
    }

    &__bottom {
        display: flex;
        //box-shadow: 0 0 0 1px #000;
        justify-content: center;

        .game__center & {
            padding-bottom: 10px;
        }

        .right {
            margin-left: $size*.4;
        }
    }

    &__top {
        display: flex;
        flex-direction: row-reverse;
        //transform: scale(.65);
        justify-content: center;

        .game__center & {
            padding-bottom: 10px;

            .game__flex {
                display: flex;
                flex-direction: column-reverse;

                &__column {
                    position: relative;
                    display: flex;
                    flex-direction: row-reverse;
                    flex: 1 auto;
                    justify-content: center;

                    &:nth-child(1) {
                        z-index: 5;
                    }

                    &:nth-child(2) {
                        z-index: 4;
                    }

                    &:nth-child(3) {
                        z-index: 3;
                    }

                    &:nth-child(4) {
                        z-index: 2;
                    }
                }
            }
        }

        .right {
            flex-direction: row-reverse;
            margin-right: $size*.4;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        //transform: scale(.65);
        justify-content: center;
        //flex: 1 auto;

        .game__center & {
            padding-bottom: 25px;
        }

        .right {
            flex-direction: column;
            margin-top: $size*.4;
        }
    }

    &__right {
        display: flex;
        flex-direction: column-reverse;
        //transform: scale(.65);
        justify-content: center;
        //flex: 1 auto;

        .game__center & {
            //position: relative;
            //bottom: -50px;
            padding-bottom: 25px;

            .game__flex {
                display: flex;
                flex-direction: row;

                &__column {
                    display: flex;
                    flex-direction: column-reverse;

                    .box__icon {
                        &:nth-child(1) {
                            z-index: 19;
                        }
                        &:nth-child(2) {
                            z-index: 18;
                        }
                        &:nth-child(3) {
                            z-index: 17;
                        }
                        &:nth-child(4) {
                            z-index: 16;
                        }
                        &:nth-child(5) {
                            z-index: 15;
                        }
                        &:nth-child(6) {
                            z-index: 14;
                        }
                        &:nth-child(7) {
                            z-index: 13;
                        }
                        &:nth-child(8) {
                            z-index: 12;
                        }
                        &:nth-child(9) {
                            z-index: 11;
                        }
                        &:nth-child(10) {
                            z-index: 10;
                        }
                        &:nth-child(11) {
                            z-index: 9;
                        }
                        &:nth-child(12) {
                            z-index: 8;
                        }
                        &:nth-child(13) {
                            z-index: 7;
                        }
                        &:nth-child(14) {
                            z-index: 6;
                        }
                        &:nth-child(15) {
                            z-index: 6;
                        }
                        &:nth-child(16) {
                            z-index: 5;
                        }
                        &:nth-child(17) {
                            z-index: 4;
                        }
                        &:nth-child(18) {
                            z-index: 3;
                        }
                        &:nth-child(19) {
                            z-index: 2;
                        }
                    }
                }
            }
        }

        .right {
            position: relative;
            z-index: 0;
            flex-direction: column-reverse;
            margin-bottom: $size*.4;

            .box__icon {

                &:nth-child(1) {
                    z-index: 19;
                }
                &:nth-child(2) {
                    z-index: 18;
                }
                &:nth-child(3) {
                    z-index: 17;
                }
                &:nth-child(4) {
                    z-index: 16;
                }
                &:nth-child(5) {
                    z-index: 15;
                }
                &:nth-child(6) {
                    z-index: 14;
                }
                &:nth-child(7) {
                    z-index: 13;
                }
                &:nth-child(8) {
                    z-index: 12;
                }
                &:nth-child(9) {
                    z-index: 11;
                }
                &:nth-child(10) {
                    z-index: 10;
                }
            }
        }
    }

    &__center {
        display: flex;
        flex-direction: column;
        margin: 10px 20px 25px;
        padding: 35px 50px;
        border-radius: 20px;
        box-shadow: 0 0 0 20px rgba(#000, .05) inset;
        flex: 2 auto;

        .game__center & {
            display: flex;
            flex-direction: column;
            padding: 10px;
            box-shadow: 0 0 0 10px rgba(#fff, .05) inset;
            justify-content: center;
        }
    }

    .center__num {
        position: absolute;
        right: 0;
        bottom: #{-$size/$sizeScale2 + $sideSize*4};
        clear: both;
        overflow: hidden;
        width: 100%;
        color: #fafafa;
        text-align: right;
        font-size: 30px;
        //background-color: blue;
    }
}

.box__icon {
    width: $size;
    height: $size;
    //background-color: #333;
    //box-shadow: 0 0 0 1px #f00;
    text-align: center;

    .game__center & {
        width: $size/$sizeScale2;
        height: $size/$sizeScale2;

        .game__center & {
            width: $size/$sizeScale1*.8;
            height: $size/$sizeScale1;
        }
    }

    .game__top & {
        width: $size/$sizeScale1*.8;

        .game__center & {
            width: $size/$sizeScale2*.8;
            height: $size/$sizeScale2*1.04;
        }
    }

    .game__bottom & {
        width: $size*.8;

        .game__center & {
            width: $size/$sizeScale2*.8;
            height: $size/$sizeScale2*1.04;
        }
    }

    .game__bottom & {
        .game__center & {
            position: relative;
            z-index: 2;
        }
    }

    .game__left &, .game__right & {
        width: $size/$sizeScale1;
        height: $size/$sizeScale1*.8;

        .game__center & {
            width: $size/$sizeScale2*1.05;
            height: $size/$sizeScale2*.8;
        }
    }

    .game__right & {
        position: relative;
        z-index: 1;
        width: $size/$sizeScale1;
        height: $size/$sizeScale1*.8;

        &:nth-child(1) {
            z-index: 19;
        }
        &:nth-child(2) {
            z-index: 18;
        }
        &:nth-child(3) {
            z-index: 17;
        }
        &:nth-child(4) {
            z-index: 16;
        }
        &:nth-child(5) {
            z-index: 15;
        }
        &:nth-child(6) {
            z-index: 14;
        }
        &:nth-child(7) {
            z-index: 13;
        }
        &:nth-child(8) {
            z-index: 12;
        }
        &:nth-child(9) {
            z-index: 11;
        }
        &:nth-child(10) {
            z-index: 10;
        }
        &:nth-child(11) {
            z-index: 9;
        }
        &:nth-child(12) {
            z-index: 8;
        }
        &:nth-child(13) {
            z-index: 7;
        }
        &:nth-child(14) {
            z-index: 6;
        }
        &:nth-child(15) {
            z-index: 6;
        }
        &:nth-child(16) {
            z-index: 5;
        }
        &:nth-child(17) {
            z-index: 4;
        }
        &:nth-child(18) {
            z-index: 3;
        }
        &:nth-child(19) {
            z-index: 2;
        }

        .game__center & {
            z-index: 0;
        }
    }

    .game__right .right & {
        position: relative;
        z-index: 1;
    }

    &.lieDown {

        .game__top & {
            width: $size/$sizeScale1*1.04;

            .game__center & {
                width: $size/$sizeScale2*1.04;
            }
        }
        .game__bottom & {
            width: $size*1.04;

            .game__center & {
                width: $size/$sizeScale2*1.04;
            }
        }
        .game__left &, .game__right & {
            height: $size/$sizeScale1*1.04;

            .game__center & {
                margin-top: -$size/$sizeScale2*.04;
                height: $size/$sizeScale2*1.06;
            }
        }
    }

    &.single {

        .game__bottom & {
            margin-left: $size*.1;
        }

        .game__top & {
            margin-right: $size/$sizeScale1*.1;
        }

        .game__left & {
            margin-top: $size/$sizeScale1*.1;
        }

        .game__right & {
            margin-bottom: $size/$sizeScale1*.1;
        }
    }

    .right & {
        .game__bottom & {
            &:nth-child(3n+1) {
                margin-left: $size*.1;
            }
        }
        .game__top & {
            &:nth-child(3n+1) {
                margin-right: $size/$sizeScale1*.1;
            }
        }
        .game__left & {
            &:nth-child(3n+1) {
                margin-top: $size/$sizeScale1*.1;
            }
        }
        .game__right & {
            &:nth-child(3n+1) {
                margin-bottom: $size/$sizeScale1*.1;
            }
        }
    }
}

.icon__back {
    background-color: $sideColor1 !important;
}

[class^='icon__'] {
    //padding: $size*.08 0;
    width: $size*.76;
    height: $size;
    //border: 1px solid $sideColor1;
    border-radius: 7px;
    background-color: #fff;
    //box-shadow: $sideSize $sideSize 0 0 $sideColor1, $sideSize*1.4 $sideSize*1.4 0 0 $sideColor2;
    //box-shadow: 0 -10px 0 0 #000;
    transform-origin: center;

    .game__center & {
        width: $size/$sizeScale2*.76;
        height: $size/$sizeScale2;

        .game__center & {
            width: $size/$sizeScale1*.76;
            height: $size/$sizeScale1;
            box-shadow: 0 $sideSize 0 0 $sideColor1, 0 $sideSize*1.4 0 0 $sideColor2;
        }
    }

    .game__bottom & {
        box-shadow: 0 #{-$sideSize} 0 0 $sideColor1, 0 #{-$sideSize*1.4} 0 0 $sideColor2;

        .game__center & {
            box-shadow: 0 $sideSize 0 0 $sideColor1, 0 $sideSize*1.4 0 0 $sideColor2;
        }
    }

    .game__bottom .lieDown & {
        margin-top: $size*.13;
        box-shadow: #{-$sideSize} 0 0 0 $sideColor1, #{-$sideSize*1.4} 0 0 0 $sideColor2;
        transform: rotate(90deg);

        .game__center & {
            margin-top: $size/$sizeScale2*.1;
            box-shadow: #{$sideSize} 0 0 0 $sideColor1, #{$sideSize*1.4} 0 0 0 $sideColor2;
        }
    }

    .game__top & {
        width: $size/$sizeScale1*.76;
        height: $size/$sizeScale1;
        box-shadow: 0 #{-$sideSize} 0 0 $sideColor1, 0 #{-$sideSize*1.4} 0 0 $sideColor2;
        transform: rotate(180deg);

        .game__center & {
            width: $size/$sizeScale2*.76;
            height: $size/$sizeScale2;
        }
    }

    .game__top .lieDown & {
        margin-top: -$size/$sizeScale1*.13;
        box-shadow: #{-$sideSize} 0 0 0 $sideColor1, #{-$sideSize*1.4} 0 0 0 $sideColor2;
        transform: rotate(-90deg);

        .game__center & {
            margin-top: -$size/$sizeScale2*.12;
            margin-left: $size/$sizeScale2*.01;
        }
    }

    .game__left & {
        margin-top: #{-$size/$sizeScale1*.1};
        width: $size/$sizeScale1*.76;
        height: $size/$sizeScale1;
        box-shadow: $sideSize 0 0 0 $sideColor1, $sideSize*1.4 0 0 0 $sideColor2;
        transform: rotate(90deg);

        .game__center & {
            width: $size/$sizeScale2*.76;
            height: $size/$sizeScale2;
        }
    }

    .game__left .lieDown & {
        margin-top: $size/$sizeScale1*.02;
        margin-left: #{-$size/$sizeScale1*.24};
        box-shadow: 0 #{-$sideSize} 0 0 $sideColor1, 0 #{-$sideSize*1.4} 0 0 $sideColor2;
        transform: rotate(180deg);

        .game__center & {
            margin-top: $size/$sizeScale2*.04;
            margin-left: #{-$size/$sizeScale2*.2};
        }
    }

    .game__right & {
        margin-top: #{-$size/$sizeScale1*.1};
        width: $size/$sizeScale1*.76;
        height: $size/$sizeScale1;
        box-shadow: #{-$sideSize} 0 0 0 $sideColor1, #{-$sideSize*1.4} 0 0 0 $sideColor2;
        transform: rotate(-90deg);

        .game__center & {
            width: $size/$sizeScale2*.76;
            height: $size/$sizeScale2;
        }
    }

    .game__right .lieDown & {
        margin-top: $size/$sizeScale1*.02;
        margin-left: #{$size/$sizeScale1*.25};
        box-shadow: 0 $sideSize 0 0 $sideColor1, 0 $sideSize*1.4 0 0 $sideColor2;
        transform: rotate(0deg);

        .game__center & {
            margin-left: #{$size*.15};
        }
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 300px;
    border-radius: 3px;
    background-color: rgba(lighten(#7aab73, 15%), .5);

    &__bottom {
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0 10px;
        max-height: 300px;
        border-top: 1px solid rgba(#000, .5);
    }
}

.stats {
    flex: 1;

    &__row {
        display: flex;
        justify-content: space-around;
    }
}

.player {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 130px;
    border-radius: 3px;
    background-color: #ffffff;
    color: #222222;
    font-size: 18px;

    &__head {
        padding: 3px 10px 2px;
        border-bottom: 3px solid lighten($sideColor1, 10%);
        background-color: rgb(236, 233, 216);
    }

    &__body {
        display: flex;
        flex-direction: column;
        padding: 3px 10px;
        flex: 2 auto;
    }

    &__score {
        display: flex;
        flex-direction: column;
        text-align: right;
        flex: 2 auto;
        justify-content: flex-end;

        &-line {
            position: relative;
            padding: 2px 0;
            font-weight: 700;

            &:last-child {

                &:before {
                    @extend %pseudo;
                    right: 0;
                    left: auto;
                    display: none;
                    width: 70%;
                    height: 1px;
                    background-color: rgba(#000, .2);
                }
            }

            &.plus {
                color: #6da86b;
            }
            &.minus {
                color: #a8645c;
            }
        }
    }
}

.table-m {
    border-collapse: collapse;
    font-size: 20px;

    td {
        padding: 7px;

        &:nth-child(2) {
            text-align: right;
        }
    }

    tfoot {
        border-top: 2px solid rgba(#fff, .3);
        text-align: right;

        td {
            padding-top: 10px;
        }
    }
}
